core/carranet-data/src/main/resources/PasswordChangeMessage.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://carranet.edu/PasswordChangeMessage"
            elementFormDefault="qualified"
            targetNamespace="http://carranet.edu/PasswordChangeMessage">

    <xsd:element name="ChangePasswordMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="oldPassword" maxOccurs="1" minOccurs="1" type="xsd:string"/>
                <xsd:element name="newPassword" maxOccurs="1" minOccurs="1" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>